# ====================
# Python
# ====================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
# ====================
# React / frontend
# ====================
node_modules/
build/
dist/

# ====================
# VSCode
# ====================
.vscode/

# ====================
# Logs
# ====================
*.log

# ====================
# Raw/intermediate datasets
# Ignore all CSVs except Final_Emails.csv
# ====================
backend/app/data/*
!backend\app\data\download_dataset.py
# ====================
# Jupyter Notebook checkpoints
# ====================
.ipynb_checkpoints

# ====================
# OS files
# ====================
.DS_Store
Thumbs.db
